// ----------- Colors ------------------

$forest-color:#1D4720;
$mustard-color: #F7D53A;
$orange-color: #FBAE29;
$aged-copper-color: #5FD891;
$emerald-color: #1D7462;
$white-color: #fffff2;
$black-color: #000000;

// ----------- Fonts ------------------

$primary-font: "Spicy Rice", sans-serif;
$secondary-font: "Fredoka", sans-serif;

// -------- Fonts sizes --------------

$h1-fontsize: 3.25rem;
$h2-fontsize: 2.5rem;
$h3-fontsize: 2rem;
$h4-fontsize: 1.5rem;

$subhead-fontsize: 1.5rem;
$body-fontsize: 1rem;

// ---------- Margins -----------------

$small-margin: 1.25rem;
$medium-margin: 2.5rem;
$large-margin: 3.75rem;
  