// ----------- Colors ------------------

$forest-color: #093E2E;
$mustard-color: #FFE552;
$orange-color: #fbae29;
$aged-copper-color: #54D286;
$emerald-color: #056A55;
$white-color: #FFFDF6;
$black-color: #000000;
$grey-color: #f0f0f0;

// ----------- Fonts ------------------

$primary-font: 'Spicy Rice', sans-serif;
$secondary-font: 'Fredoka', sans-serif;

// -------- Fonts sizes --------------

$h1-fontsize: 3.25rem;
$h2-fontsize: 2.5rem;
$h3-fontsize: 2rem;
$h4-fontsize: 1.5rem;

$subhead-fontsize: 1.5rem;
$font-weight-medium: 500;
$body-fontsize: 1rem;

// ---------- Margins -----------------

$small-margin: 1.25rem;
$medium-margin: 2.5rem;
$large-margin: 3.75rem;

// ---------- Border radius ------------

$button-border-radius: 15px;
$large-card-border-radius: 20px;
$small-card-border-radius: 8px;
$input-field-border-radius: 8px;

// ----------- Device sizes ------------

$tablet-size: 768px;
$desktop-size: 1280px;
